.contenedorinfoperfil{
  position: absolute;
  width: 250PX;
  height: 150PX;
  background-color: #fff;
  left: 250px;
  
}

.fotoencabezado{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 15px;
}

.NombreP{
position: absolute;

left: 83px;
top: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 39px;

color: #000000;
}

.nombrearea{
  position: absolute;

  left: 83px;
  top: 55px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  color: #000000;
}