.tarjeta-grande{
  position: absolute;
  width: 528px;
  height: 355px;
  left: 444px;
  top: 50px;

  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.texto-tarjeta-grande{
  position: absolute;
  width: 86px;
  height: 34.93px;
  left: 28px;
  top: 20.31px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;

  color: #000000;
}

.contenido-tarjeta-grande{
  position: absolute;
  width: 478px;
  height: 272px;
  left: 25px;
  top: 58px;

  background: #FFFFFF;
  border-radius: 10px;
}